= link_to "View Completed Tasks", kid_completed_tasks_path(@kid.id)
= form_for @kid do |f|
	= render "shared/error_messages", :object => f.object
	%div.form-field
		= f.label :points
		= f.text_field :points
	%div.form-field
		= f.label "Goals"
		%table#kid-goals
			%thead
				%tr
					%th Active
					%th Name
					%th Goal
			%tbody
				- @tasks.each do |task|
					%tr
						%td= check_box_tag "task_ids[]",task.id,@kid.tasks.include?(task)
						%td= task.name
						%td= text_field_tag "goals["+task.id.to_s+"]", @kid.get_goal_for_task(task.id)
	%div.form-actions
		= f.submit "Save"