%ul#days
	%li= link_to "Sunday", chore_chart_day_path(@kid.id,0)
	%li= link_to "Monday", chore_chart_day_path(@kid.id,1)
	%li= link_to "Tuesday", chore_chart_day_path(@kid.id,2)	
	%li= link_to "Wednesday", chore_chart_day_path(@kid.id,3)
	%li= link_to "Thursday", chore_chart_day_path(@kid.id,4)
	%li= link_to "Friday", chore_chart_day_path(@kid.id,5)
	%li= link_to "Saturday", chore_chart_day_path(@kid.id,6)
		