= render "reward_star"
%form#reward-select{:method => :post}	
	%ul#rewards
		- @rewards.each do |reward|
			%li{:class => ("disabled" if reward.points > @kid.points)}
				%label{:for => "reward-#{reward.id}"}
					%img{:src => reward.image}
					%br
					= reward.name
					%br
					= reward.points
				%input{:id => "reward-#{reward.id}", :type => "radio", :name => "reward_id", :value => reward.id, :disabled => reward.points > @kid.points, :onchange => "$('#reward-select').submit()"}